{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<main class="container">
    <form method="post">
        <div class="container ">
            <div class="mb-3">
                <select name="list" id="list">
                    <option value="RUB">RUB</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="CNY">CNY</option>
                    <option value="GBP">GBP</option>
                </select>
                <input type="text" name="value">
            </div>
            <div>
                <select name="desired" id="list2">
                    <option value="RUB">RUB</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="CNY">CNY</option>
                    <option value="GBP">GBP</option>
                </select>
            </div>
        </div>
        <br>
        <input type="submit">
    </form>
    <br>
    <h1>The answer is {{ans}}</h1>
</main>
{% endblock %}